# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
*.db

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Built frontend
backend/static/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
